.Button{
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Text{
    color: white;
    text-align: center;
    padding-bottom: 1.5em;
}
body {
     background-image: url(../src/img/rest/rybnik.webp);
}

p, h1, h2{
    text-shadow: 2px 2px black;
}   