.Menu{
    background-color: #5B0069;
}

.Button{
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.Text{
    color: white;
    text-align: center;
    padding-bottom: 3em;
}
body {
    background-color: #5B0069;
}